<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/feed.css">
</head>
<body> 

<div class="container">

     
<div class="box">
               <a href="https://gallery1.charleskdesigns.com/image/014.jpg" >
               <img src="https://gallery1.charleskdesigns.com/image/014.jpg" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 
     
<div class="box">
               <a href="https://gallery1.charleskdesigns.com/image/015.jpg" >
               <img src="https://gallery1.charleskdesigns.com/image/015.jpg" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 
      
     
<div class="box">
               <a href="https://gallery1.charleskdesigns.com/image/021.jpg" >
               <img src="https://gallery1.charleskdesigns.com/image/021.jpg" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 
     
<div class="box">
               <a href="https://gallery1.charleskdesigns.com/image/022.jpg" >
               <img src="https://gallery1.charleskdesigns.com/image/022.jpg" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 
     
<div class="box">
               <a href="https://gallery1.charleskdesigns.com/image/023.jpg" >
               <img src="https://gallery1.charleskdesigns.com/image/023.jpg" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 
     
<div class="box">
               <a href="https://gallery1.charleskdesigns.com/image/024.jpg" >
               <img src="https://gallery1.charleskdesigns.com/image/024.jpg" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 
     
<div class="box">
               <a href="https://gallery1.charleskdesigns.com/image/025.jpg" >
               <img src="https://gallery1.charleskdesigns.com/image/025.jpg" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 
   
   
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
     <script src="app.js"></script>
</body>
                 

</html>