<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    
    <div class="container">
        <div class="card">
          <div class="profile-picture">
            <img src="https://i.pinimg.com/280x280_RS/fe/7d/ee/fe7deef834e1fafe56f8023ced803ca9.jpg" alt="Profile Picture">
          </div>
          <h2 class="name">Muhammad Ilyas</h2>
          <h3 class="username">@fastroware</h3>
          <p class="tagline">Keep going.</p>
          <p class="description">Masih belajar CSS dan HTML.</p>
          <a href="#" class="button">Logout</a>
        </div>
    </div>


   <div class="cartContainer">
    <div class="cards">
        <div class="cards-img-container">
          <img src="https://gallery1.charleskdesigns.com/image/021.jpg" alt="Product Image" class="card-img">
        </div>
        <div class="cards-content">
          <h2 class="cards-title">iPhone 16 Pro Max</h2>
          </div>
        </div>
        <div class="cards">
            <div class="cards-img-container">
              <img src="https://gallery1.charleskdesigns.com/image/022.jpg" alt="Product Image" class="card-img">
            </div>
            <div class="cards-content">
              <h2 class="cards-title">iPhone 16 Pro Max</h2>
              </div>
            </div>
        <div class="cards">
            <div class="cards-img-container">
              <img src="https://www.iphone-droid.net/spec/wp-content/uploads/2024/09/iPhone-16-Pro-Max-Desert-Titanium.jpg" alt="Product Image" class="card-img">
            </div>
            <div class="cards-content">
              <h2 class="cards-title">iPhone 16 Pro Max</h2>
              </div>
            </div>
            <div class="cards">
                <div class="cards-img-container">
                  <img src="https://www.iphone-droid.net/spec/wp-content/uploads/2024/09/iPhone-16-Pro-Max-Desert-Titanium.jpg" alt="Product Image" class="card-img">
                </div>
                <div class="cards-content">
                  <h2 class="cards-title">iPhone 16 Pro Max</h2>
                  </div>
                </div>
   </div>

</body>
</html>